.book-details-initial-cont{

    display: flex;
    flex-direction: column;
    background-color: #e8e8eb;
    min-height:100vh;
    max-width:100vw;

}

.book-details-main-cont{
    display: flex;
    max-width: 100vw;
    margin-top: 12vh;
    background-color: #e8e8eb;
}

.book-details-image-cont{
    margin-right:10px;

}

.book-details-image{
    height:80vh;
    width: 35vw;
    
    background-color: transparent;
}

.book-details-main-content-cont{
    display: flex;
    background-color: transparent;
    flex-direction: column;
    margin-top:24px;
}

.book-details-title{
    color:#0d0d0c;
    font-family: Arial, sans-serif;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 0px;
    margin-top:20px;

}

.book-details-sub-title{
    color:#171715;
    font-size: 14px;
    margin-top: 8px;
    font-weight: 500;
}

.book-details-author{
    color:#1b3b6b;
    font-size: 14px;
    font-weight: 500;
    margin-top: 16px;
    padding-top: 0px;
}



.book-details-date{
    color:#171715;
    font-size: 14px;
    font-weight: 500;
    margin-top: 0px;

}

.book-details-price-cont{
    display: flex;
    flex-direction: column;
}

.book-details-price{
    font-size: 24px;
    color:#0d0d0c;
    margin-top: 4px;
    font-weight: 600;
    margin-left:8px;
    margin-bottom: 0px;
}

.book-details-price-tax{
    color:#232324;
    font-weight: 400;
    margin-top: 4px;
    font-size: 12px;
}

.book-details-mobile-buy-buttons-cont{
    width: 100vw;
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #333;

    text-align: center;
    padding: 10px;
    z-index: 1000;
}

.book-details-quantity-pincode-cont{
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: transparent;

}

.book-details-quantity-cont{
    border: 1px solid #171715;
    border-radius: 4px;
    padding:8px 16px;
    font-size: 12px;
    font-weight: 500;
    outline: none;
}

.book-details-pincode-cont{
    display: flex;
    flex-direction: column;
    margin-right:24px;
    background-color: transparent;

}

.book-details-pincode-content{
    display: flex;
    align-items: center;

}

.book-details-location-image{
    color:Red;
    font-size: 12px;
    margin-right:4px;
}

.book-details-location-content{
    color:#171715;
    font-size: 12px;
    font-weight: 500;
}

.book-details-pincode-details-cont{
    display: flex;
    align-items: center;
}

.book-details-pincode{
    border: none;
    background-color: transparent;
    outline: none;
    margin-left:8px;
    width:100px;
}

.book-details-check-button{
    border: none;
    background-color: transparent;
    color:#171715;
    font-size: 14px;
    font-weight: 500;

}

.book-details-add-cart-cont{
    display: flex;
    margin-top:32px;
}

.add-to-cart-button{
    border:#171715 solid 1px;
    background-color: transparent;
    border-radius: 4px;
    font-size: 12px;
    color:#171715;
    padding:8px 32px;
    margin-right:20px;
    font-weight: 500;
}

.buy-it-now-button{
    border:none;
    background-color: #0d0d0c;
    border-radius: 4px;
    font-size: 12px;
    padding:8px 64px;
    color:#dcdce3;
    font-weight: 500;
}

.authors-span-one{
    color:#171715;
}

.book-details-desc-head{

    color:#0d0d0c;
    font-size: 20px;
    font-weight: 500;
    margin-top: 32px;
margin-bottom: 12px;
}

.book-details-desc{
    color:#171715;
    margin-top: 0px;
    font-size: 16px;
    font-weight: 500;
}

.star-medium{
    display: none;
}



@media screen and (min-width:1000px) {


    .book-details-mobile-buy-buttons-cont{
        display: none;
    }

}

@media screen and (max-width:1000px) {
    .book-details-main-cont{
        flex-direction: column;
        margin-bottom: 30px;
    }

    .book-details-title{
        margin-top: 0px;
    }

    .book-details-add-cart-cont{
        display: none;
    }


    .book-details-image{
        width: 60vw;
        height:60vh;
        background-color: transparent;

    }

    .book-details-main-content-cont{
        margin-top: 0px;
        margin: 16px;
    }

    .book-details-image-cont{
        display: flex;
        justify-content: center;
        background-color: transparent;
        align-items: center;
        margin: 0px;
    }

    .book-details-quantity-pincode-cont{
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .book-details-pincode-cont{
        order:1;
    }

    .book-details-quantity-cont{
        order: 2;
        margin-top: 16px;
    }
}

@media screen and (max-width:700px) {
    .book-details-main-cont{
        margin-top: 10vh;
    }
    .book-details-image{
        
        height:50vh;
        width: 80vw;
        background-color: transparent;

    }
    .star-medium{
        display: inline;
    }

    .star-large{
        display: none;
    }
    

    

    .book-details-author{

        margin-top: 8px;
    }

    .book-details-date{

        margin-top: 0px;
    }
}

@media screen and (max-width:500px) {
    .book-details-main-cont{
        margin-top: 8vh;
    }    
    .book-details-image{
        width: 100vw;
        height:50vh;
        background-color: transparent;

    }
    .book-details-image-cont{
        display: flex;
        justify-content: center;
        background-color: transparent;
        align-items: center;
        margin: 0px;
    }

}