.every-book-item{
    list-style-type: none;
    display:flex;
    flex-direction: column;
    align-items: center;
justify-content: space-between;
    width: 17vw;
    margin: 8px;

}

.book-item-image{
    height: 20vw;
}

.book-item-content
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.book-item-title{
    color:#0a0a0a;
    font-size: 16px;
    max-width: 12vw;
    
    overflow: hidden;
    font-weight: 500; 
    white-space: nowrap; 
    text-overflow: ellipsis;
}



.book-item-price{
    color:#141413;
    font-size: 14px;
    font-weight: 500;
}

.book-item-view-details-one{
    color:#407af7;
    font-size: 12px;
    font-weight: 500;
    margin-top: 0px;
  
}

@media screen and (min-width: 450px) and (max-width:750px) {
    .every-book-item{
        width: 30vw;
    }
}

@media screen and (max-width:449px) {
    .every-book-item{
        width: 45vw;
        margin: 0px;
    }

    .book-item-image{
        height:60vw;
        width: 45vw;
    
    }
    .book-item-title{
        max-width: 40vw;
        margin-top: 0px;
        font-size: 14px;
    }

    .book-item-price{
        font-size: 12px;
    }
    
.book-item-view-details-one{
    font-size: 10px;
}
}