.not-found-initial-cont{
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.not-found-image{
    height:40vh;
    width: 30vw;
}

.not-found-desc{
    color:#010c1c;
    font-size: 16px;
    font-weight: 500;
}

.not-found-refresh-button{
    border: none;
    background-color: #1c1c1c;
    border-radius: 4px;
    padding:8px 16px;
    color:white
}



@media screen and (max-width:700px) {
    .not-found-image{
        height:40vh;
        width: 60vw;
    }
}

@media screen and (max-width:500px) {
    .not-found-image{
        height:30vh;
        width: 60vw;
    }
}



*{
    font-family: 'Roboto';
    box-sizing: border-box;
}