
.books-list-initial-cont{
    display: flex;
    flex-direction: column;
    max-width: 100vw;
min-height:100vh;
}

.books-list-filter-name{
    color:#010c1c;
    font-size: 24px;
    font-weight: 500;
}

.books-list-seach-button{
    border: none;
    background-color: transparent;
    padding: 0px;
    margin-top: 2px;
}

.filter-books{
    width:16vw;
    margin: 10px;

}

.books-list-bottom-cont{
    display: flex;
    flex-grow: 1;
    margin-top: 12vh;
}

.books-list-filter-section{
    max-width: 25vw;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 20px;
    background-color: #f2f2f2;
    
}

.books-list-books-section{
    width: 75vw;
    background-color: white;
    display: flex;
    flex-direction: column;
    
}

.books-list-books-items-cont{
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.books-list-mobile-filter-cont{
    width: 100vw;
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #333;

    text-align: center;
    padding: 10px;
    z-index: 1000;
}

.books-list-search-cont{
    display: flex;
    align-items: center;
    margin: 20px;
    align-self: flex-end;

}

.filter-botton-separater-line{
    height: 30px;
    border:1px solid #ffe300 ;
    margin: 0px;
}

.filter-button{
    flex-grow: 1;
    border: none;
    background-color: transparent;
    color:#f2f2f2;
    font-size: 16px;
    outline: none;
}

.books-list-input-one{
    border: #010c1c solid 1px;
    height: 20px;
    padding: 0px 8px;

    outline: none;
    background-color: transparent;
    font-size: 12px;
    
    border-top-left-radius: 2px;
    
    border-bottom-left-radius: 2px;
}



.popup-content{
    position: absolute;
    width: 100vw;
    left:40%;
    padding:20px;
    padding-bottom:40px;
    display: flex;
    flex-direction: column;
    bottom:-39%;
    margin-top:0px;
    transform: translateX(-40%);
}

.filter-text{
    font-size: 32px;
    color: #010c1c;
    font-weight: 500;
    margin-top: 0px;
}

.book-list-close-button{
    border: none;
    background-color: transparent;
    font-size: 16px;
    align-self: flex-end;
}

.books-list-loading-cont{
    display: flex;
    height: 90vh;
    margin-top: 20vh;
    align-items: flex-start;
    justify-content: center;
    
}

.filter-books-mobile-version{
    width: 60vw;

}

.books-list-input-icon-cont{
    height: 20px;
    
    display: flex;
    border-top-right-radius: 2px;
    
    border-bottom-right-radius: 2px;
    justify-content:center;
    align-items: center;
   
    padding: 1px 6px;
    border: #010c1c solid 1px;
    background-color: transparent;
    border-left: none;
}



.books-list-input-icon{
    font-size: 12px;
}

*{
    font-family: "Roboto";
    box-sizing: border-box;
}


@media screen and (min-width:700px) {
    .books-list-mobile-filter-cont{
        display: none;
    }
}

@media screen and (max-width:700px) {
    .books-list-filter-section{
        display: none;
    }

    .books-list-books-section{
        width: 100vw;
        

    }

    .books-list-input-one{
        width: 40vw;
    }

    .books-list-search-cont{
        align-self: center;
    }

    .books-list-books-items-cont{
        justify-content: center;
    }

    .books-list-bottom-cont{
        margin-top: 10vh;
    }
}




@media screen and (max-width:500px) {
    .books-list-filter-section{
        display: none;
    }

    .books-list-books-section{
        width: 100vw;
    }

    
    .header-navigate-items-logos{
        font-size:20px;
    }

    .books-list-input-one{
        width: 60vw;
        height:25px;
    }

    .books-list-input-icon-cont{
        height: 25px;
    }

    .books-list-search-cont{
        align-self: center;
    }

    .books-list-books-items-cont{
        justify-content: center;
    }

    .books-list-bottom-cont{
        margin-top: 8vh;
    }
}