.header-navigate-items-cont{
    display: flex;
    align-items: center;
    margin-left:12px;
}

.header-navigate-items-logos{
    height: 20px;
}

.header-main-style{
    width:95vw;
}

.book-store-text{
    color:black;
    margin-left:2px;
    font-size:16px;
    font-weight:600;
}

.link-normal{
    text-decoration: none;
    color:#010c1c;
}

.home-link{
    text-decoration: none;
    color:#010c1c;
    align-self: center;
}


.header-logo{
    font-size:18px;
}

.header-navigate-items-content{
    display: none;
    font-size: 16px;
    margin-top:12px;
    font-weight: 500;
    margin-left:4px;
}

.header-first-cont{
    height:12vh;
    max-width: 100vw;
}

@media screen and (min-width: 700px) {
    .header-navigate-items-content{
        display: inline;
    }

}

@media screen and (min-width:1200px){
    .header-main-style{
        width:90vw;
    }
}

@media screen and (max-width:700px) {
    .header-first-cont{
        height:10vh;    
    }

    .book-store-text{
        font-size: 14px;
    }

    .header-logo{
        font-size: 16px;
    }
}

@media screen and (max-width:500px) {
    .header-first-cont{
        height:8vh;    
    }

    
}